<div class="container"> 
  <div class="ui card team-generator">

    <h1>Team Generator</h1>

    <ul class="list">
      <li *ngFor="let member of members">{{member}}</li>
    </ul>

    <div class="add-members-container">

      <input 
        id="name" 
        type="text" 
        placeholder="Name" 
        name="name" 
        (input)="getNewMemberValue()"
        [value]="newMemberName" />

      <button (click)="addNewMember()">Add</button>

    </div>

    <div class="input-container">

      <input 
        id="number"
        type="text"
        placeholder="Number of teams"
        name="number"
        (input)="getNumberOfTeams()" />

      <button (click)="generateTeams()">Generate</button>

    </div>

    <p *ngIf="errorMessage" class="error-msg">{{errorMessage}}</p>

  </div>

  <div *ngIf="teams.length" class="teams">
    <app-team 
      *ngFor="let team of teams; let i = index"
      [team]="team"
      [index]="i"
      >
    </app-team>
  </div>

</div>